main {
    width: 100%;
    height: 100%;
    display: flex;
    padding-block:2rem;
    padding-inline:1rem;
    gap: 0.5rem;
}

.aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.aside > *:nth-child(2) {
    flex-grow: 1;
}
.content {
    flex:  3;
    position: relative;
}