.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.45rem;
  padding-block-start: 3rem;
  padding-block-end: 2rem;
  padding-inline: 1rem;
  gap: 1rem;
}
.bg-light-dark {
  background-color: #242323d7;
}
.spec-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.genres,
.albums,
.recentSongs {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.spec-container > * {
  display: flex;
  gap: 0.5rem;
}

.genre {
  background-color: black;
  width: 300px;
  padding: 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 5px solid #1db954;
}
.album {
  background-color: black;
  width: 300px;
  padding: 1rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 5px solid #b9271d;
}
