.top {
    position: absolute;
    z-index: 999;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.5rem;   
}

.logo{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;;    
}