.bg-light-dark {
    background-color: #242323d7;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;    
    border-radius: 0.45rem;
    padding:1rem;
    gap: 0.5rem;
}
.btn-create {
    /* background-color: #1db954; */
    background: transparent ;
    color: white;
    border: none;
    border-radius: 0.45rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.container .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlists{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.playlist {
    display: flex;
    gap: 0.5rem;
}
.img-playlist {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 0.45rem;
}
.extras {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}